@import "base/mixins_variables";

.advantages {
  padding-top: 55px;

  overflow: hidden;
}

.advantages__slogan {
  @include reset_indents;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 32px;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;

  &:last-child {
    margin-bottom: 54px;
  }
}

.advantages__wrapper {
  position: relative;

  background-color: #f2f2f2;

  &::before {
    content: "";

    position: absolute;
    top: -25px;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 25px;
    background-image: linear-gradient(to right bottom, transparent 0%, transparent 50%, #f2f2f2 51%, #f2f2f2 100%);
  }
}

.advantages__list {
  position: relative;

  @include reset_indents;
  margin-bottom: -40px;
  padding-top: 20px;
  padding-bottom: 330px;

  text-align: center;

  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  list-style: none;
}

.advantages__item {
  margin-bottom: 32px;
  // padding-left: 20px;
  // padding-right: 20px;
}

.advantages__title {
  @include reset_indents;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.advantages__description {
  @include reset_indents;
}

@media (min-width: $tablet_width) {
  .advantages {
    padding-top: 82px;
  }

  .advantages__wrapper {
    margin-bottom: 50px;
    padding: 0 20px;

    background-color: #f2f2f2;

    &::before {
      height: 50px;
    }
  }

  .advantages__slogan {
    padding: 0 36px;

    font-size: 40px;
    line-height: 48px;

    &:last-of-type {
      padding: 0 42px;
    }
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 620px;
    margin: 0 auto;
    // margin-bottom: -120px;
    padding: 80px 0 85px;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-size: 267px auto;
    background-position: 0 0;
  }

  .advantages__item {
    width: 310px;
    padding: 0;

    text-align: left;
  }
}

@media (min-width: $desktop_width) {
  .advantages__slogan {
    font-size: 50px;
    line-height: 60px;

    &:last-of-type {
      width: 500px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .advantages__wrapper {
    margin-bottom: 0;
    padding: 0;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;

    background-image: none;
  }

  .advantages__item {
    margin-bottom: 0;
    padding-top: 360px;

    text-align: center;

    background-repeat: no-repeat;
    background-position: center top;

    &:nth-child(1) {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    &:nth-child(2) {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    &:nth-child(3) {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }
  }

  .advantages__title,
  .advantages__description {
    width: 240px;
    margin: 0 auto;
  }

  .advantages__title {
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 30px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }
}
