@import "base/mixins_variables";

.advantages {
  padding-top: 45px;

  overflow: hidden;
}

.advantages__slogan {
  @include reset_indents;
  margin-bottom: 32px;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;

  transform: rotate(5deg);

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__main-wrapper {
  position: relative;
  z-index: 10;

  margin: 0 -5px;
  padding-bottom: 30px;

  background-color: #ffffff;

  transform-origin: left center;
  transform: rotate(-5deg);

  // &::after {
  //   content: "";

  //   position: absolute;
  //   bottom: -60px;
  //   left: 0;
  //   z-index: 1;

  //   width: 100%;
  //   height: 30px;
  //   background-color: #ffffff;

  //   transform-origin: left center;
  //   transform: rotate(-3deg);
  // }
}

.advantages__list {
  position: relative;

  @include reset_indents;
  margin-top: -60px;
  padding-top: 80px;
  padding-bottom: 325px;

  text-align: center;

  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  list-style: none;
}

.advantages__item {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__title {
  @include reset_indents;
  margin-bottom: 18px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
