@import "base/mixins_variables";

.alternative-logo {
  display: block;
  text-align: center;
}

.alternative-logo__logo-image {
  fill: $main_text;
}

.alternative-logo__logo-image--desktop {
  display: none;
}

.alternative-logo__logo-link {
  display: block;

  &:hover .alternative-logo__logo-image,
  &:focus .alternative-logo__logo-image {
    fill: $main_pink;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .alternative-logo__logo-image {
    fill: $main_text;
  }
}

@media (min-width: $desktop_width) {
  .alternative-logo__logo-image--mobile {
    display: none;
  }

  .alternative-logo__logo-image--desktop {
    display: block;
  }
}
