@import "base/mixins_variables";

.alternative-logo {
  display: block;
  text-align: center;
}

.alternative-logo__logo-link {
  display: block;

  &:hover .alternative-logo__letter {
    fill: $main_pink;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .alternative-logo__letter {
    fill: $main_text;
  }
}
