@import "base/mixins_variables";

.analysis {
  display: none;
}

.analysis__title {
  @include reset_indents;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.analysis__description {
  @include reset_indents;
}

.analysis__link {
  color: $main_pink;
  text-decoration: underline;
}

@media (min-width: $tablet_width) {
  .analysis {
    display: block;
  }

  .analysis__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 620px;
    margin: 0 auto;
    padding: 95px 20px 85px;

    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 238px auto;

    &::after {
      content: "24";

      position: absolute;
      top: 115px;
      left: 38px;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 202px;
      height: 202px;
      box-sizing: border-box;

      font-size: 96px;
      line-height: 96px;
      font-weight: 700;
      color: $main_pink;

      background-color: transparent;
      border: 14px solid $main_pink;
      border-radius: 50%;
    }
  }

  .analysis__title,
  .analysis__description,
  .analysis__link {
    width: 310px;
  }

  .analysis__title {
    margin-bottom: 10px;
  }

  .analysis__description {
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop_width) {
  .analysis {
    background-color: #f2f2f2;
  }

  .analysis__wrapper {
    width: 940px;
    padding: 110px 10px 115px;
    padding-right: 15px;

    background-position: 15px 20px;
    background-size: 298px 345px;

    &::after {
      top: 90px;
      left: 35px;

      width: 255px;
      height: 255px;

      font-size: 120px;
      line-height: 186px;

      border-width: 18px;
    }
  }

  .analysis__title,
  .analysis__description,
  .analysis__link {
    width: 570px;
  }

  .analysis__title {
    margin-bottom: 22px;
  }

  .analysis__title br {
    display: none;
  }

  .analysis__description,
  .analysis__link {
    font-size: 18px;
    line-height: 30px;
  }

  .analysis__description {
    margin-bottom: 30px;
  }
}
