@import "base/mixins_variables";

.competition {
  padding-top: 43px;
  padding-bottom: 15px;
}

.competition__description {
  margin: 0;
  padding: 0 20px 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.competition__description-element {
  display: none;
}

.form-list__wrapper {
  @include reset_indents;
  padding: 35px 0 45px;
}

.form-list__wrapper--contacts {
  padding-top: 33px;
  padding-bottom: 43px;
}

.form-list__wrapper--progress,
.form-list__wrapper--version {
  background-color: #f2f2f2;
}

.form-list__item {
  margin: 0;
  padding: 0;

  border: none;
}

.form-list__item--review {
  padding-top: 10px;
}

.form-list__title {
  width: 225px;

  @include reset_indents;
  margin-right: auto;
  margin-bottom: 45px;
  margin-left: auto;

  font-size: 14px;
  line-height: 18px;
  color: $main_pink;
  text-align: center;
  text-transform: uppercase;
}

.form-list__wrapper--review .form-list__title {
  margin-bottom: 15px;
}

.form-list__wrapper--contacts .form-list__title {
  display: none;
}

.form-list__inputs-wrapper {
  padding: 0 20px;
}

.form-list__label-text {
  display: block;

  @include reset_indents;
  margin-bottom: 5px;
  margin-left: 22px;

  font-size: 14px;
  line-height: 30px;
  color: $main_pink;
  text-transform: uppercase;
}

.form-list__input-field {
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-list__text-field {
  width: 100%;
  margin: 0;
  padding: 16px 20px 13px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 30px;
  color: $main_text;

  background-color: none;
  border: 2px solid #e5e5e5;
  border-radius: 2px;

  &:last-child {
    margin-bottom: 0;
  }

  &::placeholder {
    color: $main_text;
  }

  &::-moz-placeholder {
    opacity: 0.9;
    color: $main_text;
  }

  &:hover {
    border-color: $main_text;
    outline: none;
  }

  &:focus {
    border-color: $main_pink;
  }
}

.form-list__text-field--message {
  min-height: 200px;

  font-family: inherit;

  resize: vertical;
}

.form-list__label-change {
  position: relative;

  display: block;

  @include reset_indents;
  margin-bottom: 52px;
  margin-left: 70px;

  font-size: 18px;
  line-height: 30px;

  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: -6px;
    left: -70px;

    display: block;
    width: 35px;
    height: 35px;

    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }

  &:hover::before, {
    border-color: $main_text;
  }

  &::after {
    content: "";

    position: absolute;
  }
}

.form-list__label-change--checkbox {
  margin-bottom: 52px;

  &::after {
    top: 4px;
    left: -58px;

    display: none;
    width: 20px;
    height: 16px;

    background-image: url("../img/icon-yes_alternative.svg");
  }
}

.form-list__label-change--radio {
  margin-bottom: 45px;

  &::before {
    border-radius: 50%;
  }

  &::after {
    top: 6px;
    left: -58px;

    display: none;
    width: 14px;
    height: 14px;

    background-color: $main_pink;
    border-radius: 50%;
  }
}

.form-list__input-change:checked + .form-list__label-change::after, {
  display: block;
}

.form-list__input-change:focus + .form-list__label-change::before,
.form-list__input-change:checked:hover + .form-list__label-change::before,
.form-list__input-change:checked:focus + .form-list__label-change::before {
  border-color: $main_text;
}

.form-list__input-change:active + .form-list__label-change::before,
.form-list__input-change:checked:active + .form-list__label-change::before {
  border-color: $main_pink;
}

.form-list__submit-btn {
  margin-bottom: 35px;
}

.form-list__text {
  @include reset_indents;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.form-list__text-element {
  display: none;
}

.form-list__tip {
  color: $main_pink;
}

@media (min-width: $tablet_width) {
  .competition {
    padding-top: 90px;
  }

  .competition__description {
    width: 500px;
    margin: 0 auto 35px;

    font-size: 18px;
    line-height: 30px;
  }

  .competition__description-element {
    display: inline;
  }

  .competition__form {
    display: flex;
    flex-direction: column;
  }

  .form-list__wrapper--progress,
  .form-list__wrapper--version {
    background-color: transparent;
  }

  .form-list__wrapper--progress {
    order: 3;
  }

  .form-list__wrapper--contacts {
    order: 2;
    padding-bottom: 20px;
  }

  .form-list__wrapper--version {
    order: 1;
    padding-top: 15px;
    padding-bottom: 25px;
  }

  .form-list__wrapper--review {
    order: 4;
    padding-top: 10px;
    padding-bottom: 65px;
  }

  .form-list__item {
    width: 620px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    border: 2px solid #e5e5e5;
  }

  .form-list__item--no-border {
    border: none;
  }

  .form-list__item--contacts legend {
    display: block;
  }

  .form-list__title {
    width: auto;
    margin: 0 auto;
    padding: 0 30px;
  }

  .form-list__inputs-wrapper {
    padding: 10px 60px 55px;
  }

  .form-list__inputs-wrapper--progress,
  .form-list__inputs-wrapper--version {
    padding-top: 50px;
  }

  .form-list__inputs-wrapper--personal {
    padding: 0;
  }

  .form-list__inputs-wrapper--review {
    padding-top: 35px;
    padding-bottom: 50px;
  }

  .form-list__inputs-wrapper--contacts {
    padding-top: 38px;
    padding-bottom: 0;
  }

  .form-list__input-field {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 52px;
  }

  .form-list__inputs-wrapper--contacts .form-list__input-field {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 28px;
  }

  .form-list__label-text {
    margin-right: 22px;
    margin-left: 0;
  }

  .form-list__inputs-wrapper--contacts .form-list__label-text {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 18px;
  }

  .form-list__label-change {
    margin-left: 57px;

    &::before {
      left: -60px;
    }

    &::after {
      left: -48px;
    }
  }

  .form-list__label-change--checkbox {
    &::after {
      left: -50px;
    }
  }

  .form-list__text-field {
    flex-grow: 1;
    width: auto;
  }

  .form-list__inputs-wrapper--contacts .form-list__text-field {
    padding: 14px 17px 15px;
  }

  .form-list__text-field--message {
    display: block;
    width: 100%;
    min-height: 195px;
    margin: 0 auto;
  }

  .form-list__text-field--phone,
  .form-list__text-field--email {
    order: -1;
    width: 100%;
    padding-right: 70px;

    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 20px) center, right top;
    background-size: 20px 19px, 62px 100%;
  }

  .form-list__text-field--phone {
    background-image: url("../img/icon-phone.svg"), linear-gradient(to right, #e5e5e5 0%, #e5e5e5 100%);
  }

  .form-list__text-field--email {
    background-image: url("../img/icon-mail.svg"), linear-gradient(to right, #e5e5e5 0%, #e5e5e5 100%);
    background-size: 18px 13px, 62px 100%;
  }

  .form-list__bottom-wrapper {
    order: 5;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
  }

  .form-list__submit-btn,
  .form-list__text {
    width: 300px;
    margin-bottom: 0;
  }

  .form-list__text {
    text-align: right;
  }
}

@media (min-width: $desktop_width) {
  .competition__description {
    width: 770px;
    margin-bottom: 70px;
  }

  .competition__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .form-list__wrapper {
    width: 100%;
    padding: 0;
    margin-bottom: 56px;
  }

  .form-list__wrapper--personal,
  .form-list__wrapper--version {
    width: 435px;
    box-sizing: border-box;
  }

  .form-list__wrapper--review {
    margin-bottom: 65px;
  }

  .form-list__inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }

  .form-list__inputs-wrapper--personal {
    padding: 0;
    padding-top: 15px;
  }

  .form-list__inputs-wrapper--version {
    padding: 53px 20px 60px;
  }

  .form-list__inputs-wrapper--contacts {
    flex-direction: row;
    padding: 35px 60px 15px;
  }

  .form-list__inputs-wrapper--progress {
    flex-direction: row;
    justify-content: flex-start;
    padding: 50px 0 5px 60px;
  }

  .form-list__inputs-wrapper--review {
    padding: 35px 60px 40px;
  }

  .form-list__bottom-wrapper {
    margin-bottom: 0;
  }

  .form-list__bottom-wrapper.main-wrapper {
    padding: 0;
  }

  .form-list__item {
    width: 100%;
  }

  .form-list__title {
    padding: 0 30px;
  }

  .form-list__inputs-wrapper .form-list__input-field {
    width: 100%;
  }

  .form-list__inputs-wrapper--contacts .form-list__input-field {
    width: 373px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .form-list__label-change--checkbox {
    width: auto;
    margin-right: 60px;

    &:last-child {
      margin-bottom: 52px;
    }
  }

  .form-list__label-change--radio {
    margin-left: 115px;
    margin-bottom: 43px;
  }

  .form-list__label-change--beach {
    order: 3;
    margin-right: 100px;
  }

  .form-list__label-change--norris {
    order: 1;
    margin-right: 58px;
  }

  .form-list__label-change--gifts {
    order: 4;
    margin-right: 65px;
  }

  .form-list__label-change--tower {
    order: 2;
    margin-right: 0;
  }

  .form-list__label-change--hotel {
    order: 5;
    margin-right: 0;
  }

  .form-list__text {
    width: 400px;
  }

  .form-list__text-element {
    display: inline;
  }

  .form-list__text-field {
    min-height: 63px;
  }

  .form-list__text-field--message {
    min-height: 130px;
  }
}
