@import "base/mixins_variables";

.contaﾑ》s {
  padding: 46px 0 38px;

  text-align: center;
}

.contaﾑ》s__title {
  @include reset_indents;
  margin-bottom: 36px;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.contaﾑ》s__text {
  @include reset_indents;
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.contaﾑ》s__contact-item {
  position: relative;

  display: inline-block;

  @include reset_indents;
  margin-bottom: 24px;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $main_pink;

  &:hover:not(p) {
    color: $main_text;
  }

  &:hover:not(p)::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 2px;

    display: block;
    width: 100%;
    height: 1px;

    background-color: $main_text;
  }
}

.contacts__map {
  position: relative;

  // overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    // height: 70px;
    padding-bottom: 30px;

    background-color: red;

    transform-origin: 0 0;
    transform: rotate(-30deg) skew(30deg);
  }
}
