@import "base/mixins_variables";

.contaсts {
  padding: 45px 0 0;

  text-align: center;
}

.contacts__wrapper {
  margin-bottom: 35px;
}

.contacts__title-box {
  margin-bottom: 36px;
}

.contaсts__title {
  @include reset_indents;
  padding: 0 20px;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.contacts__item-box {
  margin: 0 auto;
}

.contacts__item {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
    padding-top: 5px;
  }
}

.contaсts__text {
  @include reset_indents;
  margin-bottom: 3px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.contaсts__contact-item {
  position: relative;

  display: inline-block;

  @include reset_indents;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $main_pink;

  &:hover:not(p),
  &:focus {
    color: $main_text;

    outline: none;
  }

  &:hover:not(p)::after,
  &:focus::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 2px;

    display: block;
    width: 100%;
    height: 1px;

    background-color: $main_text;
  }

  &:active:not(p) {
    color: transparentize($main_text, 0.7);
  }

  &:active:not(p)::after {
    background-color: transparentize($main_text, 0.7);
  }
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 200px;

  background-image: url("../../img/bg-map-mobile@1x.jpg");

  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    top: -1px;
    left: 0;

    width: 100%;
    height: 35px;

    background-image: url("../../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
  }
}

@media (min-width: $tablet_width) {
  .contacts__wrapper {
    margin-bottom: 0;
  }

  .contacts__title-box {
    margin-bottom: 42px;
  }

  .contaсts__title {
    padding: 0;

    font-size: 40px;
    line-height: 48px;
  }

  .contacts__item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    width: 300px;
    margin-bottom: 47px;
    margin-left: 15px;

    &:nth-of-type(odd) {
      margin-left: 0;
    }

    &:last-of-type {
      width: 290px;
      margin-bottom: 30px;
      padding-top: 0;
    }
  }

  .contaсts__text {
    margin-bottom: 5px;
  }

  .contacts__map {
    height: 375px;

    background-image: url("../../img/bg-map-tablet@1x.jpg");

    &::before {
      height: 65px;
    }
  }
}

@media (min-width: $desktop_width) {
  .contaсts {
    padding-top: 65px;
  }

  .contacts__wrapper {
    margin-bottom: -10px;
  }

  .contacts__title-box {
    margin-bottom: 57px;
  }

  .contaсts__title {
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__item-box {
    justify-content: space-between;
  }

  .contacts__item {
    margin-left: 0;
  }

  .contaсts__item--email {
    order: 1;
  }

  .contaсts__text {
    margin-bottom: 23px;
  }

  .contacts__map {
    height: 500px;

    background-image: url("../../img/bg-map-desktop@1x.jpg");

    &::before {
      height: 100px;
    }
  }
}
