@import "base/mixins_variables";

.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.copyrights__text {
  @include reset_indents;
  margin-right: 15px;

  font-size: 14px;
  line-height: 18px;
}

.copyrights__academy-icon {
  display: block;

  fill: $main_pink;
}

.copyrights__link {
  &:hover .copyrights__academy-icon,
  &:focus .copyrights__academy-icon {
    fill: $main_text;
  }

  &:active .copyrights__academy-icon {
    opacity: 0.3;
  }
}

@media (min-width: $tablet_width) {
  .copyrights {
    justify-content: flex-end;
  }
}

@media (min-width: $desktop_width) {
  .copyrights__text {
    font-size: 18px;
    line-height: 22px;
  }
}
