@import "base/mixins_variables.scss";

.download {
  padding-top: 30px;
  padding-bottom: 35px;

  background-color: $dark_bg;
}

.download__wrapper {
  padding: 0 20px;
}

.download__main-link {
  margin-bottom: 32px;
}

.download__slogan {
  display: none;

  @include reset_indents;

  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  color: $main-white;
}

.download__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include reset_indents;
  margin-bottom: 25px;
  list-style: none;
}

.download__item {
  @include reset_indents;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.download__link {
  background-color: $main-white;
}

.download__link-image {
  display: block;
}

.download__description {
  @include reset_indents;

  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet_width) {
  .download {
    width: 320px;
    padding-top: 93px;
    padding-bottom: 110px;

    background-color: transparent;
  }

  .download__wrapper {
    padding-right: 0;
  }

  .download__slogan {
    display: block;
    margin-bottom: 30px;
  }

  .download__main-link {
    margin-bottom: 46px;
  }

  .download__list {
    margin-bottom: 35px;
  }

  .download__description {
    font-size: 18px;
  }
}
