@import "base/mixins_variables.scss";

.download {
  padding-top: 28px;
  padding-bottom: 30px;

  background-color: #1d2631;
}

.download__wrapper {
  padding: 0 20px;
}

.download__main-link {
  margin-bottom: 31px;
}

.download__slogan {
  display: none;

  text-align: center;

  @include reset_indents;

  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  color: $main-white;
}

.download__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include reset_indents;
  min-height: 58px;
  margin-bottom: 20px;
  list-style: none;
}

.download__item {
  @include reset_indents;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.download__link {
  background-color: $main-white;
}

.download__link-image {
  display: block;
}

.download__description {
  @include reset_indents;

  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet_width) {
  .download {

    padding-top: 90px;
    padding-bottom: 110px;

    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center -110px;
    background-size: 700px auto, 1200px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .download__wrapper {
    width: 300px;
    padding-right: 0;
  }

  .download__slogan {
    width: 230px;
    display: block;
    margin: 0 auto 30px;
  }

  .download__main-link {
    margin-bottom: 46px;
  }

  .download__list {
    margin-bottom: 35px;
  }

  .download__description {
    font-size: 18px;
  }
}

@media (min-width: $desktop_width) {
  .download {
    width: $desktop_width;
    margin: 0 auto;
    padding-top: 108px;
    padding-bottom: 120px;

    background-color: transparent;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 25px bottom;
    background-size: 1050px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .download__wrapper {
    padding-left: 10px;
  }

  .download__slogan {
    margin-bottom: 50px;
    padding: 0 7px;

    font-size: 50px;
    line-height: 60px;
  }

  .download__main-link {
    margin-bottom: 67px;

    font-size: 21px;
    line-height: 21px;
  }

  .download__list {
    margin-bottom: 53px;
  }
}
