@import "base/mixins_variables";

.image-filter__image-block {
  width: 100%;
  margin-bottom: 42px;
}

.image-filter__image {
  display: block;
  margin: 0 auto;
}

.image-filter__filter-change {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.image-filter__controls {
  width: 280px;
  margin: 0 auto;
}

.image-filter__control {
  @include reset_indents;
  margin-right: 30px;

  background-color: none;
  border: none;

  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  & svg {
    fill: transparentize($dark_bg, 0.7);
  }

  &:hover svg,
  &:focus svg {
    fill: transparentize($dark_bg, 0.5);
  }

  &:active svg {
    fill: $main_pink;
  }
}

.image-filter__control--avtive {
  & svg {
    fill: $main_pink;
  }
}

.image-filter__slider {
  margin-bottom: 70px;
  padding: 0 18px;
}

.image-filter__slider--fill,
.image-filter__slider--contrast {
  display: none;
}

.image-filter__slider-line {
  position: relative;

  width: 100%;
  height: 2px;

  background-color: $dark_bg;
}

.image-filter__slider-control {
  position: absolute;
  top: -6px;
  left: 80%;

  display: block;
  width: 14px;
  height: 14px;
  box-sizing: border-box;

  background-color: $main_white;
  border: 2px solid $main_pink;
  border-radius: 50%;

  cursor: pointer;

  &:active {
    background-color: $main_pink;
  }
}

.image-filter__slider--hide {
  display: none;
}

@media (min-width: $tablet_width) {
  .image-filter__image-block,
  .image-filter__controls {
    width: 300px;
    margin: 0;
    box-sizing: border-box;
  }

  .image-filter__image-block {
    min-height: 400px; /* Временное решение*/
  }

  .image-filter__controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 26px;
  }

  .image-filter__filter-change {
    display: none;
  }

  .image-filter__sliders-block {
    // margin-bottom: 87px;
  }

  .image-filter__slider {
    position: relative;

    min-height: 24px;
    margin-bottom: 49px;
    padding: 0;
    padding-top: 10px;
    box-sizing: border-box;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 24px;
      height: 24px;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    &::after {
      content: "";

      position: absolute;
      bottom: -22px;

      display: block;
      width: 100%;
      height: 1px;

      background-color: #dddfe0;
    }
  }

  .image-filter__slider--fill,
  .image-filter__slider--contrast {
    display: block;
  }

  .image-filter__slider--crop {
    &::before {
      background-image: url("../../img/icon-editor-crop.svg");
    }

    & .image-filter__slider-control {
      left: 72%;
    }
  }

  .image-filter__slider--fill {
    &::before {
      background-image: url("../../img/icon-editor-fill.svg");
    }

    & .image-filter__slider-control {
      left: 12%;
    }
  }

  .image-filter__slider--contrast {
    &::before {
      left: 3px;

      background-image: url("../../img/icon-editor-contrast.svg");
      background-size: 16px 16px;
    }

    & .image-filter__slider-control {
      left: 47.5%;
    }
  }

  .image-filter__slider-line {
    width: 202px;
    margin-right: 18px;
    margin-left: auto;
  }
}

@media (min-width: $desktop_width) {
  .image-filter__image-block,
  .image-filter__controls {
    width: 470px;
  }

  .image-filter__controls {
    padding-right: 60px;
    padding-left: 0;
  }

  .image-filter__slider {
    min-height: 48px;
    margin-bottom: 25px;
    padding-top: 7px;

    &::before {
      top: -15px;

      width: 48px;
      height: 48px;
    }

    &::after {
      bottom: 5px;
    }
  }

  .image-filter__slider--crop {
    & .image-filter__slider-control {
      left: 25%;
    }
  }

  .image-filter__slider--fill {
    & .image-filter__slider-control {
      left: 85%;
    }
  }

  .image-filter__slider--contrast {
    &::before {
      left: 0;
      background-size: 32px 32px;
    }

    & .image-filter__slider-control {
      left: 55.5%;
    }
  }

  .image-filter__slider-line {
    width: 288px;
    margin-right: 30px;
  }
}
