@import "base/mixins_variables";

.main-nav {
  position: relative;

  @include reset_indents;

  text-align: center;
}

.main-nav__toggle {
  position: absolute;
  top: -46px;
  right: 20px;

  display: block;

  @include reset_indents;
  width: 50px;
  height: 24px;

  font-size: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
  }
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav--close .nav-list {
  display: none;
}

.main-nav--open .nav-list {
  display: block;
}

.main-nav--close .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 4px;

  background-color: $main_white;
  box-shadow: 0 10px 0 0 $main_white, 0 20px 0 0 $main_white;
}

.main-nav--open .main-nav__toggle::before,
.main-nav--open .main-nav__toggle::after {
  content: "";

  position: absolute;
  top: 10px;
  right: 0;

  width: 24px;
  height: 3px;

  background-color: $main_white;
}

.main-nav--open .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--open .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--open .main-nav__toggle:hover::before,
.main-nav--open .main-nav__toggle:hover::after {
  background-color: $main_pink;
}

.main-nav--open .main-nav__toggle:active::before,
.main-nav--open .main-nav__toggle:active::after {
  background-color: transparentize($main_pink, 0.7);
}

.main-nav--close .main-nav__toggle:hover::before {
  background-color: $main_pink;
  box-shadow: 0 10px 0 0 $main_pink, 0 20px 0 0 $main_pink;
}

.main-nav--close .main-nav__toggle:active::before {
  background-color: transparentize($main_pink, 0.7);
  box-shadow: 0 10px 0 0 transparentize($main_pink, 0.7), 0 20px 0 0 transparentize($main_pink, 0.7);
}

.nav-list {
  @include reset_indents;
  list-style: none;
}

.nav-list__item {

  margin-bottom: 1px;
}

.nav-list__link {
  display: block;
  padding: 18px 20px 14px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: $dark_bg;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), 0 1px 1px #000000;


  &:hover,
  &:focus {
    color: $main_pink;
    outline: none;
  }

  &:active {
    color: transparentize($main_white, 0.7);
    outline: none;
  }
}

.nav-list__link--active {
  &:hover,
  &:focus {
    color: $main_white;
  }
}

@media (min-width: $tablet_width) {
  .main-nav__toggle {
    top: -66px;
  }
}