.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer--index {
  display: none;
}

.page-footer__alternative-logo {
  margin-bottom: 35px;
}

.page-footer__social-buttons {
  margin-bottom: 35px;
}

@media (min-width: $tablet_width) {
  .page-footer--index {
    display: block;
  }

  .page-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
  }

  .page-footer__alternative-logo,
  .page-footer__social-buttons {
    margin-bottom: 0;
  }

  .page-footer__alternative-logo,
  .page-footer__copyrights {
    width: 150px;
  }
}

@media (min-width: $desktop_width) {
  .page-footer {
    padding-top: 100px;
  }

  .page-footer--index {
    padding-top: 75px;
  }

  .page-footer--form {
    padding-top: 60px;
  }
}
