@import "base/mixins_variables";

.page-header {
  display: flex;
  flex-direction: column;
  // padding-bottom: 52px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.page-header--index {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: left bottom, center top;
  background-size: contain, contain;
}

.page-header--index .main-nav {
  margin-bottom: 396px;
}

.page-header__logo {
  background-color: transparentize(#000000, 0.7);
}

.page-header__logo--fill {
  background-color: $dark_bg;
  box-shadow: inset 0 -1px 0 #000000;
}

.page-header__logo {
  padding: 22px 20px;
}

.page-header__title {
  @include reset_indents;
  padding: 0 20px;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet_width) {
  .page-header__logo {
    padding: 44px 20px;
  }
}