@import "base/mixins_variables";

.page-header {
  display: flex;
  flex-direction: column;

  background-color: $dark_bg;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.page-header__wrapper {
  width: 100%;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__wrapper--bottom {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -70px;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__logo {
  padding: 22px 20px 26px;

  background-color: transparentize(#000000, 0.7);
}

.page-header__logo--fill {
  background-color: $dark_bg;
  box-shadow: inset 0 -1px 0 #000000;
}

.page-header--index .main-nav {
  padding-bottom: 395px;

  background-color: $dark_bg;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center -65px;
  background-size: 258px auto, cover;
}

.page-header--index .main-nav--open {
  background-position: left bottom, center 190px;
  background-size: 258px auto, contain;
}

.page-header__title {
  width: 240px;

  @include reset_indents;
  min-height: 140px;
  margin: 0 auto;
  padding: 30px 20px;
  padding-bottom: 0;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet_width) and (min-resolution: $retina-dpi), (min-width: $tablet_width) and (min-resolution: $retina-dppx) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 182% auto;
  }

  .page-header--index {
    background-position: center top;
    background-size: cover;
  }

  .page-header__wrapper {
    background-image: none;
  }

  .page-header__wrapper--bottom {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -110px;
    background-size: 182% auto;
  }

  .page-header--index .main-nav {
    margin-bottom: 0;
    padding-bottom: 0;

    background-image: none;
  }

  .page-header__logo {
    padding: 26px 20px 44px;
  }

  .page-header__title {
    width: 480px;
    min-height: 260px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 0;

    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: $desktop_width) {
  .page-header {
    // background-color: transparent;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-header--index {
    background-position: center top;
    background-size: cover;
  }

  .page-header--photo,
  .page-header--form {
    background-position: center top;
    background-size: 215% auto;
  }

  .page-header__top {
    background-color: transparentize(#000000, 0.7);
    background-image: none;
  }

  .page-header__wrapper,
  .page-header__wrapper--bottom {
    background-image: none;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: $desktop_width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 27px 10px 43px;
  }

  .page-header__wrapper--bottom {
    padding: 0;
  }

  .page-header--index .main-nav {
    background-color: transparent;
  }

  .page-header__logo {
    padding: 0;

    background-color: transparent;
  }

  .page-header__title {
    min-height: 220px;
    padding-top: 65px;
    padding-bottom: 0;
  }

  .page-header__title--form {
    width: 800px;
  }
}
