@import "base/mixins_variables";

.posting {
  position: relative;

  padding-top: 42px;

  &::after {
    content: "";

    position: absolute;
    bottom: 200px;

    display: block;
    width: 100%;
    height: 1px;

    background-color: #dddfe0;
  }
}

.posting__text {
  @include reset_indents;
  padding: 0 30px;

  font-size: 14px;
  line-height: 30px;
  text-align: center;

  &:last-of-type {
    margin-bottom: 43px;
  }
}

.posting__wrapper {
  padding: 20px 20px 40px;

  background-color: #f2f2f2;
}

.posting__main-button {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet_width) {
  .posting {
    &::after {
      display: none;
    }
  }

  .posting__text {
    font-size: 18px;
    line-height: 30px;
  }

  .posting__filter {
    display: flex;
    width: 620px;
    margin: 0 auto;
  }

  .posting__buttons {
    padding-right: 10px;
  }
}

@media (min-width: $desktop_width) {
  .posting__wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;

    background-color: transparent;
  }

  .posting__filter {
    width: 940px;
    padding: 57px 0;

    background-color: #f2f2f2;
  }

  .posting__buttons {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }

  .posting__main-button {
    width: 183px;
    margin-bottom: 0;
  }
}
