@import "base/mixins_variables";

.reviews {
  padding-top: 58px;
  padding-bottom: 53px;
  margin-left: -50px;

  text-align: center;

  background-color: #ffffff;
}

.reviews__wrapper {
  margin-left: 50px;
  padding: 0 20px;
}

.reviews__list {
  margin-bottom: 40px;
}

.reviews__item {
  @include reset_indents;
}

.reviews__author {
  display: block;

  @include reset_indents;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-info {
  display: none;

  @include reset_indents;

  font-size: 14px;
  height: 30px;
}

.reviews__text {
  @include reset_indents;

  font-size: 14px;
  line-height: 30px;
}

@media (min-width: $tablet_width) {
  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-info {
    display: block;
  }

  .reviews__text {
    order: -1;
    margin-bottom: 35px;

    font-size: 18px;
  }
}
