@import "base/mixins_variables";

.reviews {
  position: relative;

  padding-top: 40px;
  padding-bottom: 43px;

  text-align: center;

  background-color: #ffffff;
}

.reviews__list {
  position: relative;

  margin-bottom: 35px;
}

.reviews__item {
  @include reset_indents;
}

.reviews__author {
  display: block;

  @include reset_indents;
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-info {
  display: none;

  @include reset_indents;

  font-size: 14px;
  height: 30px;
}

.reviews__text {
  @include reset_indents;

  font-size: 14px;
  line-height: 30px;
}

.reviews__toggles {
  width: 100px;
  margin: 0 auto;
}

.reviews .slider__toggle-arrow {
  display: none;
}

@media (min-width: $tablet_width) {
  .reviews {
    margin-bottom: 20px;
    padding-bottom: 0;
  }

  .reviews__list {
    margin-bottom: 30px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    margin-bottom: 5px;

    font-size: 20px;
    line-height: 30px;
  }

  .reviews__author-info {
    display: block;
  }

  .reviews__text {
    order: -1;
    margin-bottom: 35px;

    font-size: 18px;
  }
}

@media (min-width: $desktop_width) {
  .reviews {
    position: relative;

    margin-bottom: 10px;
    padding-top: 185px;
  }

  .reviews__list {
    &::before {
      content: "";

      position: absolute;
      top: -115px;
      left: calc(50% - 40px);

      display: block;
      width: 79px;
      height: 64px;

      background-image: url("../img/icon-quotes.svg");
    }
  }

  .reviews__author {
    margin-bottom: 3px;

    font-size: 24px;
    line-height: 30px;
  }

  .reviews__author-info {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__text {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .reviews__toggles {
    width: 940px;
    margin: 0 auto;
  }

  .reviews__toggles .slider__toggle {
    display: none;
  }

  .reviews .slider__toggle-arrow {
    display: block;
  }

  .reviews__arrows {
    position: absolute;
    top: 210px;

    width: 940px;
  }
}
