@import "base/mixins_variables";

.tarifes {
  padding-top: 15px;
  padding-bottom: 48px;

  background-color: #f2f2f2;

  & td,
  & th {
    position: relative;

    width: 155px;
    box-sizing: border-box;

    text-align: center;
  }
}

.tarifes__list {
  width: 620px;

  @include reset_indents;
  margin: 0 auto;

  border-collapse: separate;
}


.tarifes__header {
  padding: 10px 0 10px;

  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: $dark_bg;
  border-right: 2px solid #f2f2f2;

  overflow: hidden;

  &:nth-child(2) {
    border-radius: 2px 0 0 2px;
  }

  &:last-child {
    border-right: none;
    border-radius: 0 2px 2px 0;
  }
}

.tarifes__title {
  @include reset_indents;
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.tarifes__price {
  @include reset_indents;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.tarifes__option {
  padding: 11px 0;
  padding-left: 15px;

  text-align-last: left;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.tarifes__option-availability {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-left: none;
}

@media (min-width: $tablet_width) {
  .tarifes__title {
    font-size: 16px;
    text-transform: none;
  }

  .tarifes__price {
    font-size: 18px;
  }

  .tarifes__option {
    text-transform: none;
  }
}
