@import "mixins_variables";

.main-nav {
  position: relative;

  @include reset_indents;

  text-align: center;
}

.main-nav__toggle {
  position: absolute;
  top: -46px;
  right: 20px;

  display: block;

  @include reset_indents;

  font-size: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover svg,
  &:focus svg {
    fill: $main_pink;
    outline: none;
  }

  &:active svg {
    fill: transparentize($main_white, 0.7);
  }
}

.nav-list {
  @include reset_indents;
  list-style: none;
}

.nav-list__item {

  margin-bottom: 1px;
}

.nav-list__link {
  display: block;
  padding: 23px 20px 19px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: $dark_bg;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), 0 1px 1px #000000;


  &:hover,
  &:focus {
    color: $main_pink;
    outline: none;
  }

  &:active {
    color: transparentize($main_white, 0.7);
    outline: none;
  }
}

.nav-list__link--active {
  &:hover,
  &:focus {
    color: $main_white;
  }
}
