@import "mixins_variables";

.posting {
  position: relative;

  padding-top: 46px;

  &::after {
    content: "";

    position: absolute;
    bottom: 205px;

    display: block;
    width: 100%;
    height: 1px;

    background-color: #dddfe0;
  }
}

.posting__text {
  @include reset_indents;
  margin-bottom: 15px;
  padding: 0 30px;

  text-align: center;

  &:last-of-type {
    margin-bottom: 48px;
  }
}

.posting__filter {
  padding: 20px 20px 40px;

  background-color: #f2f2f2;
}

.posting__main-button {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}
