@import "global";
@import "buttons";
@import "page-header";
@import "main-logo";
@import "main-nav";
@import "download";
@import "advantages";
@import "reviews";
@import "tarifes";
@import "contacts";
@import "competition";
@import "page-footer";