@import "global";
@import "buttons";

@import "page-header";
@import "main-logo";
@import "main-nav";

@import "page-footer";
@import "alternative-logo";
@import "social-buttons";
@import "copyrights";

@import "download";
@import "advantages";
@import "reviews";
@import "tarifes";
@import "contacts";

@import "competition";

@import "gallery";
@import "posting";
@import "image-filter";
